.categoryList {
  width: 50%;
  height: 100%;

  border: 1px solid gray;

  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1.5%;

  padding: 1rem;
}

.categoryItem {
  width: 100%;
  height: 1rem;
  list-style-type: none;
  padding: 0.875rem;

  cursor: pointer;
}

.boxInner {
  text-align: left;
}

.selectedCategory {
  color: red;
}
